<div class="animated fadeIn">
  <div class="card" style="background-color: wheat;">
    <br>
    <div class="card-body" style="background-color:wheat">
      <app-home-carousel></app-home-carousel>
    </div>
    <br><br>
  </div>
</div>
