<div class="animated fadeIn">

    <div class="card" style="background-color: lightslategray; border-color: 200px red;">
      <div>
        <button type="button" class="btn btn-danger" style="font-size:15px; margin-left:20px; margin-top: 10px;"
          (click)="home()"><b>HOME</b></button>
      </div>
      <div class="card-body">
        <div class="badge badge-warning" style="font-size:35px; margin-left: 27.5%; width: 45%;">VALUTAZIONI DOCENTI</div>
      </div>
    </div>

</div>