<div class="animated fadeIn">
  <div class="card" style="background-color: transparent; border-color: transparent;">
    <div class="card-body">
      <div class="badge badge-warning" style="font-size:35px; margin-left: 27.5%; width: 45%;">ELENCO DIPENDENTI</div>
    </div>
  </div>

  <div class="card-body table-responsive">

    <p-table #tt [columns]="elenco" [value]="risposta" sortField="dipendenti_id" selectionMode="single"
      dataKey="dipendenti_id">

      <ng-template pTemplate="caption">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="60" placeholder="Cerca quello che vuoi"
          (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width:3em;"></th>
          <th *ngFor="let el of columns" [pSortableColumn]="el.field">
            {{el.header}}
            <p-sortIcon [field]="el.field"></p-sortIcon>
          </th>
          <th style="width:5em"> </th>
        </tr>

        <tr>
          <th></th>
          <th *ngFor="let el of columns" [ngSwitch]="el.field">
            <input *ngSwitchCase="'cognome'" pInputText type="text" placeholder="Cerca per Cognome"
              (input)="tt.filter($event.target.value, el.field, 'contains')" style="width: -webkit-fill-available;">
            <input *ngSwitchCase="'nome'" pInputText type="text" placeholder="Cerca per Nome"
              (input)="tt.filter($event.target.value, el.field, 'contains')" style="width: -webkit-fill-available;">
            <input *ngSwitchCase="'matricola'" pInputText type="text" placeholder="Cerca per Matricola"
              (input)="tt.filter($event.target.value, el.field, 'contains')" style="width: -webkit-fill-available;">
            <input *ngSwitchCase="'tipo_dipendente'" pInputText type="text" placeholder="Cerca per Ruolo"
              (input)="tt.filter($event.target.value, el.field, 'contains')" style="width: -webkit-fill-available;">
            <input *ngSwitchCase="'titolo_studio'" pInputText type="text" placeholder="Cerca per Titolo"
              (input)="tt.filter($event.target.value, el.field, 'contains')" style="width: -webkit-fill-available;">
          </th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-down let-expanded="expanded" let-ind let-columns="columns">
        <tr [pSelectableRow]="ind" [pContextMenuRow]="ind">
          <td class="dark">
            <a href="#" [pRowToggler]="down">
              <i [ngClass]="expanded ? 'pi pi-fw pi-arrow-circle-down' : 'pi pi-fw pi-angle-double-right'"></i>
            </a>
          </td>
          <td *ngFor="let el of columns">
            {{ind[el.field]}}
          </td>

          <td style="text-align:center">
            <!--show-->
            <button type="button" style="font-size:12px;" (click)="showDialog(ind)" pButton
              icon="pi pi-info-circle"></button>
          </td>

        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-down let-columns="columns">
        <tr>
          <td [attr.colspan]="7">
            <h3><span class="badge badge-warning" style="font-size:20px; padding:10px">Dipendente: {{down.cognome}} {{down.nome}}</span></h3>
          </td>
        </tr>
        <tr>
          <td [attr.colspan]="3">
            <div class="ui-g ui-fluid animated fadeIn alert alert-info" style="font-size:16px;padding:5px" role="alert">
              <div class="ui-g">
                <div class="ui-g-12 animated fadeIn">
                  <h5><b><i>INFORMAZIONI PERSONALI</i></b></h5>
                  <b>Matricola:</b> <i>{{down.matricola}}</i>, <b>Società:</b>
                  {{down.societa}}<br />
                  <b>Data di nascita:</b> {{down.data_nascita}}<br />
                  <b>Titolo di Studio:</b> {{down.titolo_studio}} ({{down.anno_conseguimento}})<br />
                  <b>Presso:</b> {{down.conseguito_presso}}
                </div>
              </div>
            </div>
          </td>
          <td [attr.colspan]="4">
            <div class="ui-g ui-fluid animated fadeIn alert alert-info" style="font-size:16px;padding:5px" role="alert">
              <div class="ui-g">
                <div class="ui-g-12 animated fadeIn">
                  <h5><b><i>INFORMAZIONI AZIENDALI</i></b></h5>
                  <b>Tipo dipendente:</b> {{down.tipo_dipendente}}<br />
                  <b>Qualifica:</b> {{down.qualifica}}<br />
                  <b>Livello:</b> {{down.livello}}<br />
                  <b>Responsabile risorsa:</b> {{down.responsabile_risorsa}}, <b>Area:</b> {{down.responsabile_area}}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>

      <!-- <ng-template pTemplate="footer" let-columns> //Utile solo se le riche per pagina di tabella sono tante (n > 20)
          <tr>
              <td *ngFor="let col of columns">
              {{col.header}}
              </td>
          </tr>
      </ng-template> -->
      <ng-template pTemplate="summary">
        <p-paginator [rows]="10" [totalRecords]=numPage pageLinkSize=10
                     (onPageChange)="paginate($event)"></p-paginator>
        CI SONO {{numPage}} DIPENDENTI
      </ng-template>
    </p-table>
  </div>
  <br />
</div>


<p-dialog [(visible)]="display" styleClass="mydialog" [style]="{width: '50vw'}"
  [draggable]="true" [modal]="true">
  <p-header>
    CORSI SEGUITI DAL DIPENDENTE SELEZIONATO
  </p-header>
  <div *ngIf="presenza == false">
    <!-- <div class="alert alert-primary" role="alert">
      Corsi che segue:
    </div> -->
    <p-table [value]="visualizza">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col?.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-visualizza>
        <tr>
          <td *ngFor="let col of cols">
            {{visualizza[col?.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div *ngIf="presenza == true" class="alert alert-danger" role="alert" style="background-color: seashell;">
    Non segue nessun corso
  </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Capito"></button>
  </p-footer>
</p-dialog>
