<div class="animated fadeIn">
  <div class="card" style="background-color: transparent; border-color:transparent">

    <div class="card-body">
      <div class="badge badge-warning" style="font-size:35px; margin-left: 27.5%; width: 45%;">ELENCO DOCENTI</div>
    </div>
  </div>


  <p-tabView>
    <p-tabPanel header="ESTERNI">
      <p-table #tt [columns]="elenco.campo" [value]="lista" [rows]="10" [first]="first" sortMode="multiple"
        selectionMode="single" [(selection)]="selectedDocente" [contextMenu]="cm" contextMenuSelectionMode="joint"
        dataKey="docente_id">
        <ng-template pTemplate="caption">
          <!--Riga unita in alto-->
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Cerca quello che vuoi"
            (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          <!--filter-->
          <p-button label="Nuovo Docente" icon="pi pi-check" (onClick)="handleClick($event)"
            styleClass="ui-button-warning">
          </p-button>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3em"></th>
            <!--table Extension-->

            <th *ngFor="let type of elenco.campo" [pSortableColumn]="type.field">
              {{type.header}}
              <p-sortIcon [field]="type.field"></p-sortIcon>
            </th>
            <th style="width:10em"> </th>
            <!--modifica-->
          </tr>
          <tr>
            <th></th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input *ngSwitchCase="'ragione_sociale'" pInputText type="text"
                (input)="tt.filter($event.target.value, col.field, 'contains')" placeholder="Cerca per Rag_Sociale">
              <input *ngSwitchCase="'titolo'" pInputText type="text"
                (input)="tt.filter($event.target.value, col.field, 'contains')" placeholder="Cerca per Titolo">
              <input *ngSwitchCase="'telefono'" pInputText type="text"
                (input)="tt.filter($event.target.value, col.field, 'contains')" placeholder="Cerca per Recapito">
              <input *ngSwitchCase="'localita'" pInputText type="text"
                (input)="tt.filter($event.target.value, col.field, 'contains')" placeholder="Cerca per Località">

            </th>
            <th></th>
          </tr>
        </ng-template>

        <!--BODY-->
        <ng-template pTemplate="body" let-lista let-expanded="expanded">
          <tr [pSelectableRow]="lista" [pContextMenuRow]="lista">
            <!--selezione riga-->
            <td>
              <a href="#" [pRowToggler]="lista">
                <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-fw pi-chevron-circle-right'"></i>
              </a>
            </td>
            <td *ngFor="let type of elenco.campo">
              {{lista[type.field]}}
            </td>
            <td style="text-align:center;">
              <!--show-->
              <button type="button" style="font-size:12px;" (click)="showDialog(lista)" pButton
              icon="pi pi-info-circle"></button>
              <!--edit-->
              <button pButton type="button" icon="pi pi-pencil" class="ui-button-info"
                (click)="modifica(lista.docente_id)" style="font-size:12px;"></button>
              <!--delete-->
              <button pButton type="button" icon="pi pi-trash" class="ui-button-danger" (click)="showConfirm(lista)"
                style="font-size:12px;"></button>
            </td>
          </tr>
        </ng-template>

        <!--EXTENSION-->
        <ng-template pTemplate="rowexpansion" let-down let-columns="elenco.campo">
          <tr>
            <td [attr.colspan]="6">
              <h3><span class="badge badge-warning" style="font-size:20px; padding:10px">Docente: {{down.ragione_sociale}}</span></h3>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="3">
              <div class="ui-g ui-fluid animated fadeIn alert alert-info" style="font-size:16px;padding:5px"
                role="alert">
                <div class="ui-g">
                  <div class="ui-g-12 animated fadeIn">
                    <h5><b><i>INFORMAZIONI PERSONALI</i></b></h5>
                    <b>Rag.Sociale:</b> {{down.ragione_sociale}}<br />
                    <b>Titolo:</b> {{down.titolo}}<br />
                    <b>Telefono:</b> {{down.telefono}}, <b>Fax:</b> {{down.fax}}
                  </div>
                </div>
              </div>
            </td>
            <td [attr.colspan]="3">
              <div class="ui-g ui-fluid animated fadeIn alert alert-info" style="font-size:16px;padding:5px"
                role="alert">
                <div class="ui-g">
                  <div class="ui-g-12 animated fadeIn">
                    <h5><b><i>RIFERIMENTI PERSONALI</i></b></h5>
                    <b>Indirizzo:</b> {{down.indirizzo}}, <b>Località:</b> {{down.localita}}<br />
                    <b>Provincia:</b> {{down.provincia}}, <b>Nazione:</b> {{down.nazione}}<br />
                    <b>P.IVA:</b> {{down.partita_iva}}, <b>Referente:</b> {{down.referente}}
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <p-paginator [rows]="10" [totalRecords]=numPage
            (onPageChange)="paginate($event)"></p-paginator>
          CI SONO {{numPage}} DOCENTI ESTERNI
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          {{state.first}}
          <button type="button" pButton icon="pi-refresh"></button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <button type="button" pButton icon="pi-cloud-upload"></button>
        </ng-template>
      </p-table>


      <p-contextMenu #cm [model]="items"></p-contextMenu>
      <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
          </div>
        </ng-template>
      </p-toast>

    </p-tabPanel>

    <p-tabPanel header="INTERNI">
      <!--MATTEO AGGIUNGI QUALCHE ALTRA FUNZIONE-->

      <p-table #de [columns]="cols3" [value]="visua" [rows]="10" [first]="first" sortMode="multiple"
        selectionMode="single" [(selection)]="selectedDocente" [contextMenu]="cm" contextMenuSelectionMode="joint"
        dataKey="corsi_docenti_id">
        <ng-template pTemplate="caption">
          <!--Riga unita in alto-->
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Cerca quello che vuoi"
            (input)="de.filterGlobal($event.target.value, 'contains')" style="width:auto">
          <!--filter-->
          <p-button label="Nuovo Docente" icon="pi pi-check" (onClick)="handleClick($event)"
            styleClass="ui-button-warning">
          </p-button>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3em"></th>
            <!--table Extension-->

            <th *ngFor="let type of cols3" [pSortableColumn]="type.field">
              {{type.header}}
              <p-sortIcon [field]="type.field"></p-sortIcon>
            </th>
            <!-- <th style="width:10em"> </th> -->
            <!--modifica-->
          </tr>
          <tr>
            <th></th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input *ngSwitchCase="'cognome'" pInputText type="text"
                (input)="de.filter($event.target.value, col.field, 'contains')" placeholder="Cerca per Cognome">
              <input *ngSwitchCase="'nome'" pInputText type="text"
                (input)="de.filter($event.target.value, col.field, 'contains')" placeholder="Cerca per Nome">
              <input *ngSwitchCase="'titolo_studio'" pInputText type="text"
                (input)="de.filter($event.target.value, col.field, 'contains')" placeholder="Cerca per Titolo">
              <input *ngSwitchCase="'descrizione'" pInputText type="text"
                (input)="de.filter($event.target.value, col.field, 'contains')" placeholder="Cerca per Descrizione">
            </th>
          </tr>
        </ng-template>

        <!--BODY-->
        <ng-template pTemplate="body" let-visua let-expanded="expanded">
          <tr [pSelectableRow]="visua" [pContextMenuRow]="visua" *ngIf="visua.interno != null">
            <!--selezione riga-->
            <td>
              <a href="#" [pRowToggler]="visua">
                <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-fw pi-chevron-circle-right'"></i>
              </a>
            </td>
            <td *ngFor="let type of cols3">
              {{visua[type.field]}}
            </td>
          </tr>
        </ng-template>

        <!--EXTENSION-->
        <ng-template pTemplate="rowexpansion" let-down let-columns="cols3">
          <tr>
            <td [attr.colspan]="5">
              <h3><span class="badge badge-warning" style="font-size:20px; padding:10px">Docente: {{down.cognome}} {{down.nome}}</span></h3>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="5">
              <div class="ui-g ui-fluid animated fadeIn alert alert-info" style="font-size:16px;padding:5px"
                role="alert">
                <div class="ui-g-12 animated fadeIn">
                  <h5><b><i>INFORMAZIONI CORRELATE</i></b></h5>
                  <div class="p-grid">
                    <div class="p-col-6"><b>Rag.Sociale:</b> {{down.cognome}} {{down.nome}}</div>
                    <div class="p-col-6"><b>Descrizione Corso:</b> {{down.descrizione}}</div>
                  </div>
                  <div class="p-grid">
                    <div class="p-col-6"><b>Titolo:</b> {{down.titolo_studio}}</div>
                  </div>
                  <div class="p-grid">
                    <div class="p-col-6"><b>Matricola:</b> {{down.matricola}}</div>
                    <div class="p-col-6"><button class="btn btn-dark" (click)="dip()">ELENCO DIPENDENTI</button></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <p-paginator [rows]="10" pageLinkSize=2
            (onPageChange)="paginate($event)"></p-paginator>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          {{state.first}}
          <button type="button" pButton icon="pi-refresh"></button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <button type="button" pButton icon="pi-cloud-upload"></button>
        </ng-template>
      </p-table>
<!-- wwwwwwwwwwwwwwwwwwwwwwwwwwwwwww -->
    </p-tabPanel>
  </p-tabView>
</div>
<p-dialog header="Docenti Info" [(visible)]="display" styleClass="mydialog" [style]="{width: '50vw'}" [draggable]="true"
  [modal]="true">
  <p-header>
    Docenti
  </p-header>
  <div *ngIf="presenza == false">
    <div class="alert alert-primary" role="alert">
      Corsi che segue:
    </div>
    <p-table [value]="visualizza">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col?.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-visualizza>
        <tr>
          <td *ngFor="let col of cols">
            {{visualizza[col?.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div *ngIf="presenza == true">
    <div class="alert alert-warning" role="alert">
      Non segue nessun corso
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Capito"></button>
  </p-footer>
</p-dialog>

<br />
