
<div *ngIf="presenza == false">
  <p-table [value]="visualizza">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{col?.header}}
        </th>
        <th style="width: 5em"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-visualizza>
      <tr>
        <td *ngFor="let col of cols">
          {{visualizza[col?.field]}}
        </td>
        <td style="text-align:center">
          <button pButton type="button" icon="pi pi-star" class="ui-button-success" (click)="valutaAlunno(this.visualizza.dipendente)" style="font-size:12px;"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

  <div *ngIf="presenza == true" class="alert alert-warning" role="alert">
    Non segue nessun alunno
  </div>

<!--ho premuto il pulsante valuta -->

<p-dialog header="Valutazione alunno" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  <!-- VALUTAZIONE ALUNNO BODY-->
  <div [formGroup]="formGroup">

    <table class="table table-bordered table-dark">
      <thead>
      <tr>
        <th scope="col">Impegno</th>
          <th>
            <p-rating formControlName="impegno"></p-rating>
          </th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <th scope="col">logica</th>
          <td>
            <p-rating formControlName="logica"></p-rating>
          </td>
      </tr>
      <tr>
        <th scope="col">Apprendimento</th>
          <td>
            <p-rating formControlName="apprendimento"></p-rating>
          </td>
      </tr>
      <tr>
        <th scope="col">Velocità</th>
          <td>
            <p-rating formControlName="velocita"></p-rating>
          </td>
      </tr>
      <tr>
        <th scope="col">Ordine e Precisione</th>
          <td>
            <p-rating formControlName="ordine"></p-rating>
          </td>
      </tr>
      </tbody>
    </table>

  </div>

  <p-footer>
    <button type="button" class="btn btn-success btn-lg btn-block" style="border: 1px darkgreen;" (click)="invia()">CONFERMA</button>
  </p-footer>

</p-dialog>
