<div class="animated fadeIn">

  <div class="card" style="background-color: transparent; border-color: transparent;">
    <div class="card-body">
      <div class="badge badge-warning" style="font-size:35px; margin-left: 27.5%; width: 45%;">VALUTAZIONI</div>
    </div>
  </div>
  
  <div class="generale">
    <p-tabView>
      <p-tabPanel header="Corso" leftIcon="pi pi-calendar" tooltip="Valutazione del corso">
        <app-corsi-valutazioni></app-corsi-valutazioni>
        <!--component di corsi-valutazioni -->
      </p-tabPanel>
      <p-tabPanel header="Docente" rightIcon="pi pi-inbox" tooltip="Valutazione del docente">
        <app-docenti-valutazioni></app-docenti-valutazioni>
      </p-tabPanel>
      <p-tabPanel header="Dipendenti" leftIcon="pi pi-user" rightIcon="pi pi-star" tooltip="Valutazione del dipendente">
        <app-alunni-valutazioni></app-alunni-valutazioni>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
