<div>

    <div class="alert alert-warning" role="alert" style="width: 25%;">
    <div *ngIf="this.visual">
      {{this.docenteDatiI[0].cognome}}
      {{this.docenteDatiI[0].nome}}
    </div>
    <div *ngIf="this.visual==false">
      {{this.docenteDatiE[0].ragione_sociale}}
      {{this.docenteDatiE[0].titolo}}
    </div>
  </div>


  <div class="orizzontale" style="background-color: seashell; color: black; padding: 10px;">Criteri:</div>
  <div class="orizzontale" style="background-color: seashell; color: black; padding: 10px;">Insufficiente:</div>
  <div class="orizzontale" style="background-color: seashell; color: black; padding: 10px;">Sufficiente:</div>
  <div class="orizzontale" style="background-color: seashell; color: black; padding: 10px;">Buono:</div>
  <div class="orizzontale" style="background-color: seashell; color: black; padding: 10px;">Molto Buono:</div>
  <div class="orizzontale" style="background-color: seashell; color: black; padding: 10px;">Non applicabile:</div>
  <div class="orizzontale" style="background-color: seashell; color: black; padding: 10px; width: 70px;">Media:</div>

  <div style="clear:both "></div><!--a capo-->
  <br>

  <div *ngIf="oggetto && oggetto.length>0" ><!--per 10 volte-->
    <div class="orizzontale" style="padding: 10px;">
      {{criteri[0]}}
    </div>

    <div *ngFor="let item of arrayOne(5); let i = index;" class="orizzontale" style="padding: 10px;">
      <input type="number" min="0" [(ngModel)]="oggetto[i].value" placeholder="0" class="input">
    </div>
  </div>

  <div class="orizzontale" style="padding: 10px; background-color:rgb(197, 38, 38); width: 70px; border: 5px red; border-radius: 3px;">
    {{this.mediaV[0].toFixed(2) }}
  </div>

  <div style="clear:both "></div><!--a capo-->
  <br>

  <div *ngIf="oggetto && oggetto.length>0"><!--per 10 volte-->
    <div class="orizzontale" style="padding: 10px;">
      {{criteri[1]}}
    </div>

    <div *ngFor="let item of arrayOne(5); let i = index;" class="orizzontale" style="padding: 10px;">
      <input type="number" min="0" [(ngModel)]="oggetto[i+5].value" placeholder="0" class="input">
    </div>
  </div>

  <div class="orizzontale" style="padding: 10px; background-color:rgb(197, 38, 38); width: 70px; border: 5px red; border-radius: 3px;">
    {{this.mediaV[1].toFixed(2) }}
  </div>

  <div style="clear:both "></div><!--a capo-->
  <br>

  <div *ngIf="oggetto && oggetto.length>0"><!--per 10 volte-->
    <div class=" orizzontale" style="padding: 10px;">
      {{criteri[2]}}
    </div>

    <div *ngFor="let item of arrayOne(5); let i = index;" class="orizzontale" style="padding: 10px;">
      <input type="number" min="0" [(ngModel)]="oggetto[i+10].value"  placeholder="0" class="input">
    </div>
  </div>

  <div class="orizzontale" style="padding: 10px; background-color:rgb(197, 38, 38); width: 70px; border: 5px red; border-radius: 3px;">
    {{this.mediaV[2].toFixed(2) }}
  </div>

  <div style="clear:both "></div><!--a capo-->
  <br>


  <div style="margin-left: 0%;">
    <button pButton type="button" class="ui-button-raised ui-button-rounded"  class="ui-button-success" label="Conferma "(click)="invia($event)"></button>
  </div>

</div>