.input{
  width: 60px;
  text-align: center;
}

.orizzontale{
  float:left; display:block; width:200px
}
.alert1{
  height: 20px;
}

[type=number] {
  -moz-appearance: textfield;
}

-webkit-outer-spin-button,
-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
