<div class="animated fadeIn">
  <div class="card" style="background-color: transparent; border-color: transparent;">
    <div class="card-body">
      <div class="badge badge-warning" style="font-size:35px; margin-left: 27.5%; width: 45%;">INSERISCI CORSO</div>
    </div>
    <div>
      <!-- <p-progressBar [value]="value">33%</p-progressBar> -->
      <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true" styleClass="steps-custom"></p-steps>
    </div>
  </div>

  <div class="card-body table-responsive">
    <div class="card text-white">

      <div class="card-body" style="background-color: seashell;">
        <font color="red">* = Obbligatorio</font><br /><br />
        <form [formGroup]="formGroupDocente">
          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col-3" style="display: flex; justify-content: center; align-items: center;">
              <div style="font-family:sans-serif; font-size: 20px;"><b>DESCRIZIONE</b></div>
            </div>
            <div class="p-col-2">Tipo<font color="red">*</font>
              <div class="form-group" >
                <p-dropdown [options]="tipi" [(ngModel)]="selectedTipi" optionLabel="descrizione"
                  formControlName="tipo"> </p-dropdown>
              </div>
            </div>
            <div class="p-col-4" style="padding-left: 30px;">Tipologia<font color="red">*</font>
              <div class="form-group">
                <p-selectButton [options]="tipologie" [(ngModel)]="selectedTipologia" formControlName="tipologia"
                  optionLabel="descrizione"></p-selectButton>
              </div>
            </div>
            <div class="p-col-3">Descrizione<font color="red">*</font>
              <div class="form-group">
                <textarea [rows]="3" [cols]="30" placeholder="Scrivi una Descrizione" formControlName="descrizione" autoResize="autoResize"></textarea>
              </div>
            </div>
          </div><br>


          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col-3" style="display: flex; justify-content: center; align-items: center;">
              <div style="font-family:sans-serif; font-size: 20px;"><b>SPECIFICHE</b></div>
            </div>
            <div class="p-col">Luogo<font color="red">*</font>
              <div class="form-group">
                <input type="text" formControlName="luogo" class="form-control" placeholder="Luogo">
              </div>
            </div>
            <div class="p-col">Edizione<font color="red">*</font>
              <div class="form-group">
                <input type="text" formControlName="edizione" class="form-control" placeholder="Edizione">
              </div>
            </div>
          </div>

          <!--
          <div class="p-col">Previsto
            <div class="form-group">
              <p-inputSwitch [(ngModel)]="prev" formControlName="previsto" (onChange)="booleanPrevisto(($event))">
              </p-inputSwitch>
            </div>
          </div>
          <div class="p-col">Erogato
            <div class="form-group">
              <p-inputSwitch [(ngModel)]="erog" formControlName="erogato" (onChange)="booleanErogato(($event))">
              </p-inputSwitch>
            </div>
          </div>
        -->

          <br>
          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col-3" style="display: flex; justify-content: center; align-items: center;">
              <div style="font-family:sans-serif; font-size: 20px;"><b>REFERENZE</b></div>
            </div>
            <div class="p-col">Ente<font color="red">*</font>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="ente" placeholder="Ente">
              </div>
            </div>
          </div><br>

          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col-3" style="display: flex; justify-content: center; align-items: center;">
              <div style="font-family:sans-serif; font-size: 20px;"><b>DURATA</b></div>
            </div>
            <div class="p-col">Data Erogazione<font color="red">*</font>
              <div class="form-group">
                <p-calendar [(ngModel)]="dataErogazione" dataType="string" dateFormat="yy-mm-dd"
                  formControlName="data_erogazione" showButtonBar="true" placeholder="Erogazione">
                </p-calendar>
              </div>
            </div>
            <div class="p-col">Data Chiusura<font color="red">*</font>
              <div class="form-group">
                <p-calendar [(ngModel)]="dataChiusura" dataType="string" dateFormat="yy-mm-dd"
                  formControlName="data_chiusura" showButtonBar="true" placeholder="Chiusura">
                </p-calendar>
              </div>
            </div>
            <div class="p-col">Misura<font color="red">*</font>
              <div class="form-group">
                <p-selectButton [options]="misura" [(ngModel)]="selectedMisura" formControlName="misura"
                optionLabel="descrizione"></p-selectButton>
              </div>
            </div>
            <div class="p-col">Durata<font color="red"></font>
              <div class="form-group">
                <input type="text" class="form-control" style="width:60%" formControlName="durata" placeholder="Durata">
              </div>
            </div>

            <!-- MISURA MATTEO -->


          </div><br />


          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col-3" style="display: flex; justify-content: center; align-items: center;">
              <div style="font-family:sans-serif; font-size: 20px;"><b>CENSIMENTO</b></div>
            </div>
            <div class="p-col">Data Censimento<font color="red">*</font>
              <div class="form-group">
                <p-calendar [(ngModel)]="dataCensimento" dataType="string" dateFormat="yy-mm-dd"
                  formControlName="data_censimento" showButtonBar="true" [readonlyInput]="true" placeholder="Censimento">
                </p-calendar>
              </div>
            </div>
          </div><br />


          <!-- NOTE -->

          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col-3" style="display: flex; justify-content: center; align-items: center;">
              <div style="font-family:sans-serif; font-size: 20px;"><b>NOTE</b></div>
            </div>
            <div class="p-col">
              <div class="autoResize"
                style="display: flex; justify-content: center; align-items: center; padding-bottom: 5px;">
                <textarea [rows]="3" [cols]="150" formControlName="note" pInputTextarea
                  autoResize="autoResize" placeholder="Libera la fantasia... Notes"></textarea>
              </div>
            </div>
          </div><br />

          <!-- BOTTONI -->
          <div class="p-grid" style="border-radius: 15px; color:black;">
            <div class="p-col">
              <div>
                <button type="button" class="btn btn-success btn-lg btn-block" style="border: 2px  darkgreen;"
                  (click)="invia()" [disabled]="!formGroupDocente.valid">AVANTI</button>

                <button type="button" class="btn btn-warning btn-lg btn-block"
                  style="border: 2px  rgb(201, 110, 0);" (click)="annulla()">CANCELLA</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
