<p-carousel [value]="elenco" [numVisible]="3" [numScroll]="1" [autoplayInterval]="100000" [circular]="true">

  <ng-template let-ind pTemplate="item">
    <div style="background-color:white; align-items: center; display: flex; justify-content: center;">

      <div class="card text-warning" style="width: 95%; height: 100%; margin: 3%; border-color: transparent;">

        <div class="card-header" style="justify-content: center; align-items: center; display: flex; background-color: seashell; border-top-left-radius: 10px; border-top-right-radius: 10px;">
          <h1 class="display-5" style="color: black;"><b>{{ind.titolo}}</b></h1>
        </div>

        <div class="card-body" style="background-color:seashell; border-radius: 2px; border-color: white; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">

          <h5 class="card-title">
            <div class="p-col-12" style="align-items: center; display: flex; justify-content: center;">
              <img src="assets/img/brand/{{ind.foto}}" style="width: 100px; height: 100px; border-radius: 10px;">
            </div>
          </h5>

          <div class="p-col-12 car-data">
            <h4 class="card-title" style="color: black;text-align: center">{{ind.sot}}</h4>
            <h6 class="card-subtitle" style="color: black;text-align: center">{{ind.desc}}</h6>
            <br>

            <div class="footer" style="align-items: center; display: flex; justify-content: center;">
              <button type="button" class="btn btn-warning" style="background-color:gold" (click)="scelta(ind.id)">{{ind.tit}}</button>&nbsp;
              <button *ngIf="ind.val" type="button" class="btn btn-secondary" style="background-color:gold" (click)="smista(ind.id)">{{ind.ins}}</button>
            </div>

          </div>

        </div>

      </div>
    </div>
  </ng-template>
</p-carousel>
