<div class="animated fadeIn">
  <div class="card" style="background-color: seashell;">
    <div class="card-body">
      <div class="badge badge-warning" style="font-size:35px; margin-left: 27.5%; width: 45%;">SCEGLI I DOCENTI E GLI
        ALUNNI</div>
    </div>
    <div>
      <!-- <p-progressBar [value]="value">66%</p-progressBar> -->
      <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true" styleClass="steps-custom"></p-steps>
    </div>
  </div>

  <div class="p-grid">
    <p-fieldset legend="SCEGLI DOCENTE" [toggleable]="true">

      <div class="p-col" style="border: 1px black; border-radius: 2px; background-color: seashell;">

        <p-tabView>
          <!-- ---------------------------------------------------DOCENTI ESTERNI--------------------------------------------------- -->
          <p-tabPanel header="Esterni" rightIcon="icon-size-fullscreen">

            <p-table #ta [columns]="elenc" [value]="lista" sortField="ragione_sociale" [(selection)]="selectDocente"
              dataKey="docente_id">

              <ng-template pTemplate="caption">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="40" placeholder="Cerca..."
                  (input)="ta.filterGlobal($event.target.value, 'contains')" style="width:auto;">
              </ng-template>

              <ng-template pTemplate="header" let-columns>

                <tr>
                  <th style="width: 3em"></th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                </tr>

                <tr>
                  <th style="width: 3em"></th>
                  <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'ragione_sociale'" pInputText type="text" placeholder="Cerca per Rag_Soc"
                      (input)="ta.filter($event.target.value, col.field, 'contains')"
                      style="width: -webkit-fill-available;">
                    <input *ngSwitchCase="'titolo'" pInputText type="text" placeholder="Cerca per Titolo"
                      (input)="ta.filter($event.target.value, col.field, 'contains')"
                      style="width: -webkit-fill-available;">
                    <input *ngSwitchCase="'telefono'" pInputText type="text" placeholder="Cerca per Recapito"
                      (input)="ta.filter($event.target.value, col.field, 'contains')"
                      style="width: -webkit-fill-available;">
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-cart let-columns="columns">
                <tr [pSelectableRow]="cart" [pContextMenuRow]="cart">

                  <td>
                    <p-tableRadioButton [value]="cart"></p-tableRadioButton>
                  </td>

                  <td *ngFor="let col of columns">
                    {{cart[col.field]}}
                  </td>

                </tr>
              </ng-template>

              <ng-template pTemplate="summary">
                <p-paginator [rows]="10" pageLinkSize="2" totalRecords="20"
                  (onPageChange)="paginateD($event)"></p-paginator>

              </ng-template>

            </p-table>
          </p-tabPanel>

          <!-- ---------------------------------------------------DOCENTI INTERNI--------------------------------------------------- -->
          <p-tabPanel header="Interni" rightIcon="icon-size-actual">

            <p-table #di [columns]="elenco" [value]="risp" sortField="ragione_sociale" [(selection)]="selectedInterno"
              dataKey="dipendenti_id">

              <ng-template pTemplate="caption">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="40" placeholder="Cerca..."
                  (input)="di.filterGlobal($event.target.value, 'contains')" style="width:auto;">
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 3em"></th>
                  <th *ngFor="let d of columns" [pSortableColumn]="d.field">
                    {{d.header}}
                    <p-sortIcon [field]="d.field"></p-sortIcon>
                  </th>
                </tr>

                <tr>
                  <th style="width: 3em"></th>
                  <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'ragione_sociale'" pInputText type="text" placeholder="Cerca per Rag_Soc"
                      (input)="di.filter($event.target.value, col.field, 'contains')"
                      style="width: -webkit-fill-available;">
                    <input *ngSwitchCase="'titolo'" pInputText type="text" placeholder="Cerca per Titolo"
                      (input)="di.filter($event.target.value, col.field, 'contains')"
                      style="width: -webkit-fill-available;">
                    <input *ngSwitchCase="'telefono'" pInputText type="text" placeholder="Cerca per Recapito"
                      (input)="di.filter($event.target.value, col.field, 'contains')"
                      style="width: -webkit-fill-available;">
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-car let-columns="columns">
                <tr [pSelectableRow]="car" [pContextMenuRow]="car">
                  <td>
                    <p-tableRadioButton [value]="car"></p-tableRadioButton>
                  </td>
                  <td *ngFor="let col of columns">
                    {{car[col.field]}}
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="summary">
                <p-paginator [rows]="10" totalRecords="20" (onPageChange)="paginateDocI($event)" pageLinkSize="3"></p-paginator>

              </ng-template>
            </p-table>

          </p-tabPanel>
        </p-tabView>

      </div>
    </p-fieldset>
  </div>

  <br><br>

  <div class="p-grid">
    <p-fieldset legend="SCEGLI ALUNNI" [toggleable]="true">

      <div class="p-col" style="border: 1px  black; border-radius: 2px; background-color: seashell;">
        <p-table #tt [columns]="elenco" [value]="risposta" selectionMode="single" [(selection)]="selectedAlunni"
          dataKey="dipendenti_id">

          <ng-template pTemplate="caption">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="40" placeholder="Cerca..."
              (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto;">
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>

              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>

            <tr>
              <th> </th>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'cognome'" pInputText type="text"
                  (input)="tt.filter($event.target.value, col.field, 'contains')"
                  style="width: -webkit-fill-available;">
                <input *ngSwitchCase="'nome'" pInputText type="text"
                  (input)="tt.filter($event.target.value, col.field, 'contains')"
                  style="width: -webkit-fill-available;">
                <input *ngSwitchCase="'titolo_studio'" pInputText type="text"
                  (input)="tt.filter($event.target.value, col.field, 'contains')"
                  style="width: -webkit-fill-available;">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-car let-columns="columns">

            <tr>
              <td>
                <p-tableCheckbox [value]="car"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns">
                {{car[col.field]}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">



            <p-paginator [rows]="10" totalRecords="20" (onPageChange)="paginate($event)" pageLinkSize="3"></p-paginator>

          </ng-template>

        </p-table>

      </div>
    </p-fieldset>
  </div>

  <br>
  <!-- ---------------------------------------------------BOTTONI FINALI--------------------------------------------------- -->

  <p-dialog header="Riepilogo inserimento" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

   <div class="alert alert-warning" role="alert">
      <b>Docenti:</b> <br>
      <div *ngIf="selectedInterno.dipendenti_id != null" style="text-align: left">
        {{selectedInterno ? selectedInterno.dipendenti_id + ' - ' + selectedInterno.cognome + ' ' + selectedInterno.nome: 'none'}}
      </div>
      <div *ngIf="selectDocente?.docente_id != null" style="text-align: left">
        {{selectDocente ? selectDocente?.docente_id + ' - ' + selectDocente?.ragione_sociale + ' - ' + selectDocente?.titolo: 'none'}}
      </div>
    </div>

    <div class="alert alert-warning" role="alert">
      <b>Alunni:</b>
        <li *ngFor="let lit of selectedAlunni" style="text-align: left">
          {{lit.cognome + ' ' + lit.nome + ' - ' + lit.titolo_studio}}
        </li>
    </div>

    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="invia(selectedAlunni,selectDocente,selectedInterno)"
        label="Conferma"></button>
      <button type="button" pButton icon="pi pi-times" (click)="displayMaximizable=false" label="Annulla"
        class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>

  <div class="riepilogo">
    <div>
      <button type="button" (click)="showMaximizableDialog()" pButton icon="pi pi-external-link"
        label="Riepilogo e Conferma" style="font-size: 20px;"></button>
    </div>
  </div>

  <br><br>

</div>
