.fisso {
    position: absolute
  }

  .riepilogo{
    background-color: lawngreen;
    display: inline;
    text-align: center;
  }

  body .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-title {
    font-weight: 700;
    color: black;
  }
  
  body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-title {
    display: block;
    margin-top: 6px;
    color: black;
  }

  body .ui-fieldset {
    border: 1px solid #191919;
    background-color: seashell;
    color: #dedede;
}

body .ui-tabview .ui-tabview-panels {
  background-color: seashell;
  padding: 0.571em 1em;
  border: transparent;
  color: #dedede;
}
