<div class="animated fadeIn">
  <div class="card" style="background-color: transparent; border-color: transparent;">
    <div class="card-body">
      <div class="badge badge-warning" style="font-size:35px; margin-left: 27.5%; width: 45%; border-radius: 3px;">ELENCO CORSI</div>
    </div>
  </div>

  <p-table #tt [columns]="elenco.campo" [value]="lista" [rows]="10" [first]="first" sortMode="multiple"
    selectionMode="single" [(selection)]="selectedCorso" [contextMenu]="cm" contextMenuSelectionMode="joint"
    dataKey="corso_id">
    <ng-template pTemplate="caption">
      <!--Riga unita in alto-->
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Cerca quello che vuoi"
        (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      <!--filter-->

      <p-button label="Nuovo Corso" icon="pi pi-check" (onClick)="nuovocorso()" styleClass="ui-button-warning">
      </p-button>

    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <!--table Extension-->

        <th *ngFor="let type of elenco.campo" [pSortableColumn]="type.field">
          {{type.header}}
          <p-sortIcon [field]="type.field"></p-sortIcon>
        </th>
        <th style="width:12em"></th>
        <!--modifica-->
      </tr>
      <tr>
        <th></th>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'descrizione'" pInputText type="text" placeholder="Cerca per Descrizione"
            (input)="tt.filter($event.target.value, col.field, 'contains')">
          <!-- <input *ngSwitchCase="'edizione'" pInputText type="text" placeholder="Cerca per Edizione"
            (input)="tt.filter($event.target.value, col.field, 'contains')"> -->
          <input *ngSwitchCase="'durata'" pInputText type="text" placeholder="Cerca per Durata"
            (input)="tt.filter($event.target.value, col.field, 'contains')">
          <!-- <input *ngSwitchCase="'note'" pInputText type="text" placeholder="Cerca per Note"
            (input)="tt.filter($event.target.value, col.field, 'contains')"> -->
          <input *ngSwitchCase="'luogo'" pInputText type="text" placeholder="Cerca per Luogo"
            (input)="tt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'data_erogazione'" pInputText type="text" placeholder="Cerca per Data"
            (input)="tt.filter($event.target.value, col.field, 'contains')">
        </th>
        <th style="width: auto;"></th>
      </tr>
    </ng-template>

    <!--BODY-->

    <ng-template pTemplate="body" let-lista let-expanded="expanded">
      <tr [pSelectableRow]="lista" [pContextMenuRow]="lista">
        <!--selezione riga-->
        <td>
          <a href="#" [pRowToggler]="lista">
            <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-fw pi-chevron-circle-right'"></i>
          </a>
        </td>
        <td *ngFor="let type of elenco.campo">
          {{lista[type.field]}}
        </td>

        <td style="text-align:initial">
          <!--show-->
          <button type="button" style="font-size:12px;" (click)="showDialog(lista)" pButton
            icon="pi pi-info-circle"></button>
          <!--edit-->
          <button pButton type="button" icon="pi pi-pencil" class="ui-button-info" (click)="modifica(lista.corso_id)"
            style="font-size:12px;" ></button>
          <!--delete-->
          <button pButton type="button" icon="pi pi-trash" class="ui-button-danger" (click)="showConfirm(lista)"
            style="font-size:12px;"></button>
          <!--valutazione-->
          <button pButton type="button" icon="pi pi-star" class="ui-button-success" (click)="valutazioni(lista.corso_id)"
            style="font-size:12px;"></button>
        </td>

      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-down let-columns="elenco.campo">
      <tr>
        <td [attr.colspan]="6">
          <h3><span class="badge badge-warning" style="font-size:20px; padding:10px;">Corso: {{down.descrizione}}</span></h3>
        </td>
      </tr>
      <tr>
        <td [attr.colspan]="3">
          <div class="ui-g ui-fluid animated fadeIn alert alert-info" style="font-size:16px;padding:5px" role="alert">
            <div class="ui-g">
              <div class="ui-g-12 animated fadeIn">
                <h5><b><i>SPECIFICHE</i></b></h5>
                <b>Tipo:</b> {{down.tipo}}, <b>Tipologia:</b> {{down.tipologia}}, <b>Misura:</b> {{down.misura}}<br />
                <b>Ente:</b> {{down.ente}}<br />
                <b>Censimento:</b> {{down.data_censimento}}
              </div>
            </div>
          </div>
        </td>
        <td [attr.colspan]="3">
          <div class="ui-g ui-fluid animated fadeIn alert alert-info" style="font-size:16px;padding:5px" role="alert">
            <div class="ui-g">
              <div class="ui-g-12 animated fadeIn">
                <h5><b><i>INFORMAZIONI</i></b></h5>
                <b>Durata:</b> {{down.durata}}, <b>Luogo:</b> {{down.luogo}}<br />
                <b>Erogazione:</b> {{down.data_erogazione}}, <b>Chiusura:</b> {{down.data_chiusura}}<br />
                <b>Note:</b> {{down.note}}<br />
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>


    <ng-template pTemplate="summary">
      <p-paginator [rows]="10" [totalRecords]=numPage
        (onPageChange)="paginate($event)"></p-paginator>
      CI SONO {{numPage}} CORSI
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      {{state.first}}
      <button type="button" pButton icon="pi-refresh"></button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <button type="button" pButton icon="pi-cloud-upload"></button>
    </ng-template>

  </p-table>


  <p-contextMenu #cm [model]="items"></p-contextMenu>

  <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div style="text-align: center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
        <h3>{{message.summary}}</h3>
        <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
        </div>
        <div class="ui-g-6">
          <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
        </div>
      </div>
    </ng-template>
  </p-toast>
  <br />
</div>

<p-dialog header="Info corsi" [(visible)]="display" styleClass="mydialog" [style]="{width: '50vw'}" [draggable]="true" [modal]="true">

  <div *ngIf="presenza == false">
    <div class="alert alert-warning" role="alert">
      Alunni che seguono il corso:
    </div>
    <p-table [value]="visualizza">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col?.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-visualizza>
        <tr>
          <td *ngFor="let col of cols">
            {{visualizza[col?.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div *ngIf="presenza == true" class="alert alert-warning" role="alert">
    Non segue nessun alunno
  </div>
<br>
  <div class="alert alert-warning" role="alert">
    Docenti del corso:
  </div>
  <!--docenti SHOW-->
  <div>
    <p-table [value]="visua">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols2">
            {{col?.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-visua>
        <tr>
          <td *ngFor="let col of cols2">
            {{visua[col?.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
<br>
  <!--docenti Interni SHOW-->
  <div>
    <p-table [value]="visua">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{col?.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-visua>
        <tr>
          <td *ngFor="let col of cols">
            {{visua[col?.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display=false" style="background-color: gold;" label="Capito"></button>
  </p-footer>
</p-dialog>
