<app-header style="background-color:#2f353a;"
  [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 89, height: 25, alt: 'Corvallis Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logoC.png', width: 35, height: 35, alt: 'Corvallis C Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="false">
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <main class="main" style="background-color: rgb(224, 223, 223);">
    <cui-breadcrumb ></cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <br>
  </main>
  <!--style="background-color: rgba(168, 167, 167, 0.932);" -->
</div>

<app-footer style="height: 1000px; border-radius: 2px; border: 1% solid black;">

  <div><b>CONTATTI:</b></div>
  <span class="ml-auto">
    <font face="monospace" size="3" color="darkblue">
      <div>
        Via Savelli, 56 35129 Padova - Tel +39 049 8434511 - CAP. Soc. 3.333.800,00 i.v.<br />
        REA di PD N° 199726 - P.IVA 02070900283 - info@corvallis.it - PEC: corvallis@pec.corvallis.it
      </div>
    </font>

  </span>
  <span class="ml-auto">Powered by <a href="http://www.corvallis.it/">CORVALLIS</a></span>
</app-footer>
