<div class="animated fadeIn">
  <div class="card" style="background-color: transparent; border-color: transparent;">
    <div class="card-body">
      <div class="badge badge-warning" style="font-size:35px; margin-left: 27.5%; width: 45%;">INSERISCI DOCENTE</div>
    </div>
  </div>

  <div class="card-body table-responsive">

    <div class="card text-white" style="max-width: 89rem; background-color: seashell;">

      <div class="card-body">
        <font color="red">* = Obbligatorio</font><br /><br />

        <form [formGroup]="formGroup">

          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col"><b>Titolo</b>
              <font color="red">*</font>
              <div class="form-group">
                <input type="text" formControlName="titolo" class="form-control" placeholder="titolo">
              </div>
            </div>
            <div class="p-col"><b>Ragione Sociale</b>
              <font color="red">*</font>
              <div class="form-group">
                <input type="text" formControlName="ragione_sociale" class="form-control" placeholder="ragione_sociale">
              </div>
            </div>
          </div><br />


          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col"><b>Indirizzo</b>
              <font color="red">*</font>
              <div class="form-group">
                <input type="text" formControlName="indirizzo" class="form-control" placeholder="indirizzo">
              </div>
            </div>
            <div class="p-col"><b>Località</b>
              <font color="red">*</font>
              <div class="form-group">
                <input type="text" formControlName="localita" class="form-control" placeholder="localita">
              </div>
            </div>
          </div><br />


          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col"><b>Provincia</b>
              <font color="red">*</font>
              <div class="form-group">
                <input type="text" formControlName="provincia" class="form-control" placeholder="provincia">
              </div>
            </div>
            <div class="p-col"><b>Nazione</b>
              <div class="form-group">
                <input type="text" formControlName="nazione" class="form-control" placeholder="nazione">
              </div>
            </div>
          </div><br />


          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col"><b>Telefono</b>
              <font color="red">*</font>
              <div class="form-group">
                <input type="text" formControlName="partita_iva" class="form-control" placeholder="partita_iva">
              </div>
            </div>
            <div class="p-col"><b>Referente</b>
              <font color="red">*</font>
              <div class="form-group">
                <input type="text" formControlName="referente" class="form-control" placeholder="referente">
              </div>
            </div>
          </div><br />


          <div class="p-grid" style="background-color: seashell; border-radius: 5px; color:black;">
            <div class="p-col"><b>P. IVA</b>
              <div class="form-group">
                <p-inputMask mask="9999999999" formControlName="telefono" placeholder="999-999-9999" size="76.8%"></p-inputMask>
            </div>
            </div>
            <div class="p-col"><b>Fax</b>
              <div class="form-group">
                <p-inputMask mask="9999999999" formControlName="fax" placeholder="999-999-9999" size="76.8%"></p-inputMask>
            </div>
            </div>
          </div><br />

          <!-- BOTTONI -->
          <div class="p-grid" style="border-radius: 5px; color:black;">
            <div class="p-col">
              <div>
                <button type="button" class="btn btn-success btn-lg btn-block" style="border: 2px  darkgreen;"
                  (click)="invia()" [disabled]="!formGroup.valid">AVANTI</button>
                <button type="button" class="btn btn-warning btn-lg btn-block"
                  style="border: 2px  rgb(201, 110, 0);" (click)="annulla()">CANCELLA</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
